*{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: rgb(125, 192, 255);
    overscroll-behavior: none;
}

#root{
    width: calc(100% - 20%);
    margin: 0 auto;
    height: 100%;
}
